body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 0 150px;
    background-color: #1f2937;
    color:white;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    
}
.links {
    display: flex;
    gap: 15px;
}

.topleft {
    display: flex;
    flex-direction: column;
    flex-shrink: auto;
    gap: 10px;

}
.logo {
font-size: 24px;
color:#f9faf8;

}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.text, .links {
   font-size: 18px;
   color: #e5e7eb; 
}

.web {
    display: flex;
    padding: 90px 15px;
    gap: 10px;
    overflow: hidden;
}

.topright {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    height: 150px;
    width: 300px;
    object-fit: cover;
    justify-content: content;
    align-items: center;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    color:white;
    border: none;
    padding: 5px px;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 0px;
}

.info-header {
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
font-size: 36px;
font-weight: 800;
}

.info-pics {
display: flex;
justify-content: center;
gap: 20px;
}
.image-text > img {
    border: 2px solid #3882f6;
   border-radius: 10px;
   height: 100px;
   width: 100px;
   
}
.image-text {
    max-width: 150px; 
}

.body {
    background-color: #e5e7eb;
}

.quote-block {
    display: flex;
    
    flex-direction: column;
    padding: 100px 200px;
    gap: 10px;
    
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.attribute {
    font-weight: 600;
    font-size: 32px;
   text-align: right;
}

.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#3882f6;
    margin: 100px 250px;
    padding: 40px;
    border-radius: 5px;
    gap: 150px;
    color: #f9faf8;
}

.top {
    font-weight: 900;
    font-size: 24px;
}

.bottom, .image-text{
    font-size: 16px;
}

.right > button {
    border: 1px solid #f9faf8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 16px;
}